/.gradle
/baksmali/bin
/baksmali/build
/dexlib/bin
/dexlib/build
/dexlib2/bin
/dexlib2/build
/dexlib2/accessorTestGenerator/bin
/dexlib2/accessorTestGenerator/build
/smali/bin
/smali/build
/util/bin
/util/build
/smalidea/bin
/smalidea/build
/release
*.iml
*.ipr
*.iws
.idea
